/* Stylesheet 
Colors:
86873B Primary olive
BA662A secondary rust
2F3C33 tertiary sea green*/


body {
	background: url("../img/wall4.png");
	font-family: 'Belleza', sans-serif;
	}
header {
	
	}
	
nav {
	
	}